{% extends 'base.html' %}
{% load static %}

{% block title %}{% if form.instance.pk %}Edit Book{% else %}Add Book{% endif %} - BookVault{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/book_form.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{% if form.instance.pk %}Edit Book{% else %}Add Book{% endif %}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if form.instance.pk %}Update{% else %}Add{% endif %}</button>
    </form>
</div>
{% endblock %}
