{% extends 'base.html' %}
{% load static %}

{% block title %}{{ book.title }} - BookVault{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/book_detail.css' %}">
{% endblock %}

{% block content %}
<div class="book-detail">
    {% if book.cover_image %}
        <img src="{{ book.cover_image.url }}" alt="{{ book.title }}">
    {% else %}
        <div class="no-image">No Image</div>
    {% endif %}
    <h2>{{ book.title }}</h2>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Price:</strong> ${{ book.price }}</p>
    <p><strong>Description:</strong></p>
    <p>{{ book.description|linebreaks }}</p>

    {% if user == book.user %}
        <div class="actions">
            <a href="{% url 'book_edit' book.pk %}">Edit</a>
            <a href="{% url 'book_delete' book.pk %}">Delete</a>
        </div>
    {% endif %}
</div>
{% endblock %}
