{% extends 'base.html' %}
{% load static %}

{% block title %}{% if form.instance.pk %}Edit Comment{% else %}Add Comment{% endif %} - BookVault{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ccomment_confirm_delete.css' %}">
{% endblock %}

<div class="comment-confirm">
    <h2>Confirm Delete Comment</h2>
    <p>Are you sure you want to delete your comment: "{{ comment.content }}"?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
        <a href="{% url 'book_detail' comment.book.pk %}">Cancel</a>
    </form>
</div>
