{% extends 'base.html' %}
{% load static %}

{% block title %}{% if form.instance.pk %}Edit Comment{% else %}Add Comment{% endif %} - BookVault{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/comment_form.css' %}">
{% endblock %}

{% block content %}
<div class="comment-form-container">
    <h2>{{ title }}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    {% if comment.book %}
        <a href="{% url 'book_detail' comment.book.pk %}">Cancel</a>
    {% else %}
        <a href="{% url 'home' %}">Cancel</a>
    {% endif %}
    </div>
{% endblock %}
