{% extends 'base.html' %}
{% load static %}

{% block title %}BookVault - Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Featured Books</h1>
    <p class="subtitle">Discover your next great read</p>

    <div class="book-grid">
        {% for book in books %}
        <div class="book-card">
            <img src="{{ book.cover_image.url }}" alt="{{ book.title }}">
            <h3>{{ book.title }}</h3>
            <p>{{ book.description }}</p>
            <a href="{% url 'book_detail' book.pk %}" target="_blank">Read More</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
